
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ShopAppUI.styles.css" asp-append-version="true" />
    <title>@ViewData["Title"] - ShopApp</title>

</head>
<body>


    @await Html.PartialAsync("_navbar")
  


        <main class="my-3">
        <div class="container">

            @if (TempData["message"] != null)
            {
                <partial name="_ResultMessage" model="@(TempData.Get<AlertMessage>("message"))" />
            }

            @RenderBody()
        </div>
        </main>
        <footer class="py-5 bg-dark text-white text-center">Shop App | 2022</footer>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

        @RenderSection("Scripts",false)
</body>
</html>